Repository tranquilitybase-io/tb-eagle-console, pull requests merged in 2020-09, with the labels that each got.

#238 Feature/#124/solution deployment confirmation dialog
  src/app/mission-control/solutions/solutions-home/solutions-home-dialog/solutions-home-dialog-deploy/solutions-home-dialog-deploy.component.html
  src/app/mission-control/solutions/solutions-home/solutions-home-dialog/solutions-home-dialog-deploy/solutions-home-dialog-deploy.component.scss
  src/app/mission-control/solutions/solutions-home/solutions-home-dialog/solutions-home-dialog-deploy/solutions-home-dialog-deploy.component.spec.ts
  src/app/mission-control/solutions/solutions-home/solutions-home-dialog/solutions-home-dialog-deploy/solutions-home-dialog-deploy.component.ts
  src/app/mission-control/solutions/solutions-home/solutions-home-dialog/solutions-home-dialog.module.ts
  src/app/mission-control/solutions/solutions-home/solutions-home-grid/solutions-home-grid-card/solutions-home-grid-card.component.ts
  src/app/mission-control/solutions/solutions-home/solutions-home-list/solutions-home-list.component.html
  src/app/mission-control/solutions/solutions-home/solutions-home-list/solutions-home-list.component.ts
  src/app/mission-control/solutions/solutions-home/solutions-home.module.ts
Labels: Solutions, enhancement

#250 Issue 244 Solution view redesign
  .github/PULL_REQUEST_TEMPLATE.md
  src/app/mission-control/activator-store/activator-store-home/activator-store-home.component.html
  src/app/mission-control/activator-store/activator-store-view/activator-store-view.component.html
  src/app/mission-control/activator-store/activator-store-view/activator-store-view.component.scss
  src/app/mission-control/applications/applications-create/applications-create.component.html
  src/app/mission-control/applications/applications-grid/applications-grid.component.html
  src/app/mission-control/solutions/solutions-edit/solutions-edit.component.html
  src/app/mission-control/solutions/solutions-home/solutions-home-grid/solutions-home-grid-card/solutions-home-grid-card.component.html
  src/app/mission-control/solutions/solutions-view/solutions-view-applications/solutions-view-applications.component.html
  src/app/mission-control/solutions/solutions-view/solutions-view-applications/solutions-view-applications.component.scss
  src/app/mission-control/solutions/solutions-view/solutions-view-applications/solutions-view-applications.component.spec.ts
  src/app/mission-control/solutions/solutions-view/solutions-view-applications/solutions-view-applications.component.ts
  src/app/mission-control/solutions/solutions-view/solutions-view-overview/solutions-view-overview.component.html
  src/app/mission-control/solutions/solutions-view/solutions-view-overview/solutions-view-overview.component.scss
  src/app/mission-control/solutions/solutions-view/solutions-view-overview/solutions-view-overview.component.spec.ts
  src/app/mission-control/solutions/solutions-view/solutions-view-overview/solutions-view-overview.component.ts
  src/app/mission-control/solutions/solutions-view/solutions-view.component.html
  src/app/mission-control/solutions/solutions-view/solutions-view.component.scss
  src/app/mission-control/solutions/solutions-view/solutions-view.component.ts
  src/app/mission-control/solutions/solutions-view/solutions-view.module.ts
  src/app/shared/grid-view-switch/grid-view-switch.model.ts
  src/app/shared/grid-view-switch/grid-view-switch.reducer.ts
  src/app/shared/layout/layout.model.ts
  src/app/shared/layout/layout.service.ts
  src/app/shared/snack-bar/app-is-deployed/app-is-deployed.component.html
  src/styles/_badge.scss
Labels: Refactoring

#254 Feature/#245/application deployment confirmation dialog
  README.md
  src/app/mission-control/applications/applications-create/applications-create.component.html
  src/app/mission-control/applications/applications-dialog/applications-dialog-deploy/applications-dialog-deploy.component.html
  src/app/mission-control/applications/applications-dialog/applications-dialog-deploy/applications-dialog-deploy.component.scss
  src/app/mission-control/applications/applications-dialog/applications-dialog-deploy/applications-dialog-deploy.component.spec.ts
  src/app/mission-control/applications/applications-dialog/applications-dialog-deploy/applications-dialog-deploy.component.ts
  src/app/mission-control/applications/applications-dialog/applications-dialog.module.ts
  src/app/mission-control/applications/applications-grid/applications-grid-card/applications-grid-card.component.ts
  src/app/mission-control/applications/applications.module.ts
  src/app/mission-control/solutions/solutions-view/solutions-view-applications/solutions-view-applications.component.html
  src/app/mission-control/solutions/solutions-view/solutions-view-applications/solutions-view-applications.component.ts
Labels: Applications

#271 Feature/#261
  src/app/mission-control/activator-store/activator-store-dialog/activator-store-dialog-create/activator-store-dialog-create.component.html
  src/app/mission-control/activator-store/activator-store-dialog/activator-store-dialog-create/activator-store-dialog-create.component.scss
  src/app/mission-control/activator-store/activator-store-dialog/activator-store-dialog-create/activator-store-dialog-create.component.spec.ts
  src/app/mission-control/activator-store/activator-store-dialog/activator-store-dialog-create/activator-store-dialog-create.component.ts
  src/app/mission-control/activator-store/activator-store-dialog/activator-store-dialog.module.ts
  src/app/mission-control/activator-store/activator-store-home/activator-store-home-grid/activator-store-home-grid.component.html
  src/app/mission-control/activator-store/activator-store-home/activator-store-home-grid/activator-store-home-grid.component.scss
  src/app/mission-control/activator-store/activator-store-home/activator-store-home-grid/activator-store-home-grid.component.ts
  src/app/mission-control/activator-store/activator-store-home/activator-store-home-list/activator-store-home-list.component.html
  src/app/mission-control/activator-store/activator-store-home/activator-store-home-list/activator-store-home-list.component.ts
  src/app/mission-control/activator-store/activator-store.actions.ts
  src/app/mission-control/activator-store/activator-store.effects.ts
  src/app/mission-control/activator-store/activator-store.service.ts
Labels: Activators

#272 Feature/#255/applications view GitHub link
  package-lock.json
  package.json
  src/app/mission-control/activator-store/activator-store-view/activator-store-view-overview/activator-store-view-overview.component.html
  src/app/mission-control/activator-store/activator-store-view/activator-store-view-overview/activator-store-view-overview.component.scss
  src/app/mission-control/activator-store/activator-store-view/activator-store-view-overview/activator-store-view-overview.component.ts
  src/app/mission-control/applications/applications-view/applications-view-overview/applications-view-overview.component.html
  src/app/mission-control/applications/applications-view/applications-view-overview/applications-view-overview.component.scss
  src/app/mission-control/applications/applications-view/applications-view-overview/applications-view-overview.component.ts
  src/assets/icons/github.svg
Labels: Applications

#293 Patch/#292/Create activator step: 1,2,3,review
  src/app/mission-control/activator-store/activator-store-create/activator-store-create.component.html
  src/app/mission-control/activator-store/activator-store-create/activator-store-create.component.scss
  src/app/mission-control/activator-store/activator-store-create/activator-store-create.component.spec.ts
  src/app/mission-control/activator-store/activator-store-create/activator-store-create.component.ts
  src/app/mission-control/activator-store/activator-store-create/activator-store-create.module.ts
  src/app/mission-control/activator-store/activator-store-dialog/activator-store-dialog-create/activator-store-dialog-create.component.ts
  src/app/mission-control/activator-store/activator-store-home/activator-store-home-grid/activator-store-home-grid.component.html
  src/app/mission-control/activator-store/activator-store-home/activator-store-home-grid/activator-store-home-grid.component.ts
  src/app/mission-control/activator-store/activator-store-home/activator-store-home-list/activator-store-home-list.component.html
  src/app/mission-control/activator-store/activator-store-home/activator-store-home-list/activator-store-home-list.component.ts
  src/app/mission-control/activator-store/activator-store-home/activator-store-home.component.html
  src/app/mission-control/activator-store/activator-store-home/activator-store-home.component.scss
  src/app/mission-control/activator-store/activator-store-home/activator-store-home.component.ts
  src/app/mission-control/activator-store/activator-store.actions.ts
  src/app/mission-control/activator-store/activator-store.effects.ts
  src/app/mission-control/activator-store/activator-store.module.ts
  src/app/mission-control/activator-store/activator-store.reducer.ts
  src/app/mission-control/activator-store/activator-store.service.ts
Labels: Activators
